*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
.hero{
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3)); 
   position: relative;
   padding: 0 5%;
   display: flex;
   align-items: center;
   justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav.logo{
    width: 80px;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;  
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #0fb00f;
    font-size: 24px;
    border: 2px solid #af0909;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    
}
.back-video{
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
}
@media( min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media( max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #0dc21f;
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
}

#myBtn:hover {
  background: #ddd;
  color: rgb(35, 13, 175);
}
p{color: blue;
font-style: italic;}