*{
    padding: 0;
    margin: 0;
  box-sizing: border-box;
    font-family:"cxo 2", sans-serif;
}
body{
    width: 100vw;
    height:100vh ;
    overflow: hidden;
    background:linear-gradient(45)
}